[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
[user]
	email = 41550498+figo711@users.noreply.github.com
	name = figo711
